:host {
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  width: 80%;
  margin: 70px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;

  @media screen and (min-width: 500px) and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: none;
    grid-template-rows: repeat(500px);
  }
}
