<section class="worklog">
  <ng-container *ngIf="translations">
    <ng-container *ngIf="currentLanguage | async as language">
      <app-worklog-tab [person]="persons" [time]="translations[language].time" [desc]="translations[language].desc">
      </app-worklog-tab>
      <app-evaluation [evaluation]="evaluation"></app-evaluation>
      <app-total [tot]="translations[language].tot"></app-total>
      <app-difficulties [dif]="translations[language].dif" [fable]="translations[language].fable"></app-difficulties>
    </ng-container>
  </ng-container>
</section>
