.wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: #BFBFBF;
}

.input {
  width: 25vw;
  max-width: 400px;
  height: 20px;
  background: var(--main-bg-color);
  border: none;
}

