.wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}
.background {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/team.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
}

.title {
  color: #fff;
  font-size: 48px;
  letter-spacing: 3px;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  app-team-member {
    width: 33%;
    max-width: 400px;
    padding: 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 980px) {
    justify-content: center;

    app-team-member {
      width: 95%;
    }
  }
}
