.logo {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 20px;
    font-family: "MontserratMedium";
    font-size: 20px;
    line-height: 1;
    color: var(--logo-text-color);
  }
}
