<ng-container *ngIf="infoDirector">
  <ng-container *ngIf="currentLanguage | async as language">
    <div class="wrapper">
      <div class="director" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="description">
          <p class="name">{{ infoDirector[language].name }} (&nbsp;{{infoDirector.be.dates.birth.date}}&nbsp;-&nbsp;{{infoDirector.be.dates.death.date || '...'}}&nbsp;)</p>
          <p>{{ infoDirector[language].description }}</p>
          <p class="films">{{ translations[language].filmslist }}</p>
          <mat-list>
            <mat-list-item *ngFor="let film of infoDirector[language].films | slice: -4"
              >"{{ film.name }}" &nbsp; ({{ film.year }})</mat-list-item
            >
          </mat-list>
          <a mat-button (click)="openDialog(infoDirector[language].films)">
            {{ translations[language].morefilms }}
          </a>
        </div>
        <app-gallery [director]="infoDirector"></app-gallery>
      </div>
    </div>
    <app-timeline [director]="infoDirector" [language]="language"></app-timeline>
    <div class="wrapper-video">
      <p class="title">{{ translations[language].video }}</p>
      <p>{{ infoDirector[language].video.title }}</p>
      <a mat-button class="button" (click)="openVideoDialog(infoDirector[language].video)">{{
        translations[language].buttonVideo
      }}</a>
    </div>
    <app-map [director]="infoDirector"></app-map>
  </ng-container>
</ng-container>
