.avatar {
  height: 380px;
}
.wrapper {
  width: 100%;
  background-color: var(--card-background-color);
}

.wrapper-video {
  width: 100%;
  background-color: var(--card-background-color);
  padding: 50px 0;
  text-align: center;
  p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 30px;
    margin: 0;
  }
  .title {
    font-family: 'MontserratMedium';
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0;
  }
}

.director {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  .description {
    flex-shrink: 1;
    padding-right: 20px;
  }
}
.films {
  padding: 8px 0 0 16px;
  margin: 0;
  font-family: 'MontserratMedium';
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.name {
  font-family: 'MontserratMedium';
  font-size: 30px;
  line-height: 60px;
  text-align: left;
}
.mat-list-item {
  font-size: 16px;
}
a {
  background-color: var(--primary-button-color);
  margin: 20px 0 0 16px;
  font-weight: lighter;
}
.button {
  margin: 0;
}

@media (max-width: 920px) {
  .director {
    flex-wrap: wrap;
  }
  .name {
    font-size: 20px;
    line-height: 30px;
  }

  .wrapper-video {
    .title {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .avatar {
    padding-top: 30px;
  }
  .director {
    padding: 30px 20px;
  }
}
@media (max-width: 620px) {
  .avatar {
    width: 300px;
    height: auto;
  }
  .director {
    padding: 20px 10px;
  }
}
