<div class="wrapper">
  <div class="director" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="description">
      <p class="name">{{ name }}</p>
      <p>{{ description }}</p>
      <p class="films">Films:</p>
      <mat-list>
        <mat-list-item *ngFor="let film of films | slice: -4"
          >"{{ film.name }}" &nbsp; ({{ film.year }})</mat-list-item
        >
      </mat-list>
      <a mat-button (click)="openDialog()">more films</a>
    </div>
    <img [src]="src" alt="director" class="avatar" />
  </div>
</div>
<app-timeline></app-timeline>
<div class="wrapper">
  <div class="video">
    <video src="https://www.youtube.com/watch?v=NhheiPTdZCw"></video>
  </div>
</div>
<app-map [detailsInfoDirector]="detailsInfoDirector"></app-map>
