<ng-container *ngIf="infoDirector">
  <ng-container *ngIf="currentLanguage | async as language">
    <h3>{{translations[language].directorDay}}</h3>
    <div class="directors" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <img [src]="infoDirector.avatar" alt="director of the day" />
      <div class="description">
        <p class="name">{{ infoDirector[language].name }}</p>
        <p>{{ infoDirector[language].description }}</p>
        <a mat-button [routerLink]="[id]" routerLinkActive="active"> {{translations[language].morebutton}} </a>
      </div>
    </div>
  </ng-container>
</ng-container>
