.card {
  color: var(--directors-primary-text-color);
  font-weight: bold;

  div {
    transition: all 1s ease-out;
  }

  &-content-top {
    position: relative;
    top: 150px;
    z-index: 3;
    width: 50%;
    margin: 0 auto;

  }

  &-content-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 150px;
    z-index: 3;
    width: 50%;
    margin: 0 auto;
    a {
      width: 100%;
    }
    button {
      width: 100%;
      height: 40px;
      border: 2px solid var(--directors-primary-text-color);
      background-color: transparent;
    }
  }

  &-image {

    display: flex;
    justify-content: center;    

    &__img {
      width: 100%;
      max-width: 400px; 
      // height: 400px;
    }
  }
}


.opened {
  opacity: 0.5;
}

.closed {
  opacity: 1;
}

.top-enabled {
    transform: translateY(0%);
    opacity: 1;
}

.bottom-enabled {
  transform: translateY(-75%);
    opacity: 1;
}

.top-disabled {
  transform: translateY(-75%);
  opacity: 0;
}

.bottom-disabled {
  transform: translateY(0%);
  opacity: 0;
}
