.card {
  color: var(--directors-primary-text-color);
  height: 100%;
  position: relative;

  @media screen and (max-width: 960px) {
    max-height: 500px;
    height: 30%;
    width: 100%;
  }

  div {
    transition: all 0.6s ease-out;
  }

  &-content-top {
    position: absolute;
    margin: auto;
    z-index: 3;
    width: 50%;
    height: 20%;
    left: 0;
    right: 0;
    text-align: center;

    &__name {
      font-size: 30px;
      font-weight: bold;
      line-height: 40px;
    }

    &__desc {
      font-size: 15px;
    }
  }

  &-content-bottom {
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 20%;
    left: 0;
    right: 0;
    margin: auto;

    a {
      width: 100%;
    }
    button {
      width: 100%;
      height: 40px;
      border: 1.5px solid var(--directors-primary-text-color);
      background-color: transparent;
      border-radius: 2px;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        border: none;
        background-color: var(--primary-button-color);
      }
    }
  }

  &-image {
    display: flex;
    justify-content: center;

    &__img {
      height: auto;
      max-width: 600px;
      width: 100%;
    }
  }
}

.opened {
  opacity: 0.5;
}

.closed {
  opacity: 1;
}

.top-enabled {
  transform: translateY(140%);
  opacity: 1;
}

.bottom-enabled {
  transform: translateY(-240%);
  opacity: 1;
}

.top-disabled {
  transform: translateY(-30%);
  opacity: 0;
}

.bottom-disabled {
  transform: translateY(0%);
  opacity: 0;
}

@media screen and (max-width: 853px) {
  .card-content-top {
    &__name {
      font-size: 20px;
      line-height: 30px;
    }
    &__desc {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
  }
  .top-enabled {
    transform: translateY(100%);
    opacity: 1;
  }

  .bottom-enabled {
    transform: translateY(-220%);
    opacity: 1;
  }
}
