<div class="card">
  <div class="card-image">
    <img src="director.avatar" alt="director_avatar" class="card-image__img">
  </div>
  <div class="card-content">
    <div class="card-content-top">
      <h4 class="card-content-top__name"> {{ director.name }} </h4>
      <span class="card-content-top__desc"> {{ director.description }} </span>
    </div>
    <div class="card-content-bottom">
      <button> </button>
      <!-- todo: routing to details -->
      <!-- translated button name comes from service in core -->
    </div>
  </div>
</div>
