<ng-container *ngIf="translations">
  <ng-container *ngIf="currentLanguage | async as language">
    <div class="super-wrapper" appParallax>
      <div class="wrapper">
        <div class="mask"></div>
        <video class="video" loop="loop" autoplay="true" muted="muted">
          <source [src]="src" type="video/mp4" />
          <source [src]="webm" type="video/webm" />
        </video>
        <h1 class="title"> {{translations[language].title}} </h1>
      </div>
      <app-director-of-day></app-director-of-day>
    </div>
  </ng-container>
</ng-container>
