<div class="video" (click)="setupVideo()">
  <a href="#" class="video-link">
    <img class="video-media" [src]="data.screenshot" alt="video" />
  </a>
  <button class="video-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      x="0px"
      y="0px"
      viewBox="0 0 58 44"
      style="enable-background:new 0 0 58 44;"
      xml:space="preserve"
      width="68"
      height="48"
    >
      <g id="_x31_-Video">
        <path
          class="video-shape"
          d="M52.305,44H5.695C2.55,44,0,41.45,0,38.305V5.695C0,2.55,2.55,0,5.695,0h46.61   C55.45,0,58,2.55,58,5.695v32.61C58,41.45,55.45,44,52.305,44z"
        />
        <path
          style="fill:#FFFFFF;"
          d="M21,32.53V11.47c0-1.091,1.187-1.769,2.127-1.214l17.82,10.53c0.923,0.546,0.923,1.882,0,2.427   l-17.82,10.53C22.187,34.299,21,33.621,21,32.53z"
        />
      </g>
    </svg>
  </button>
</div>
