<section class="timeline ">

  <div>
    <div class="timeline-item" *ngFor="let item of director[language].biography">
      <div>
        <div class="timeline-img " [style.background]="'#96d4cf'">
        </div>
        <div class="timeline-content">
          <div class="date " [style.background]="'#b5c4d9'">
            {{item.period}}
          </div>
          <div class="inner-content">
            {{item.description}}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
