.header-btn {
  font-family: "MontserratMedium";
  font-size: 14px;
  color: var(--navigation-text-color);
  text-transform: uppercase;
}

@media (max-width: 956px) {
  .header-btn {
    text-align: left;
    display: block;
    width: 215px;
  }
}
