<a mat-button class="header-btn" routerLink="/main" routerLinkActive="active" i18n="menu point one">Main</a>
<a mat-button class="header-btn" routerLink="/directors" routerLinkActive="active" i18n="menu point two"
  >Film directors</a
>
<a mat-button class="header-btn" routerLink="/team" routerLinkActive="active" i18n="menu point three">Team</a>
<a mat-button class="header-btn" routerLink="/worklog" routerLinkActive="active" i18n="menu point for"
  >Worklog</a
>
<a mat-button class="header-btn" i18n="menu point five">Styleguide</a>
