<a mat-button class="header-btn" routerLink="/main" routerLinkActive="active">{{ menu[1] }}</a>
<a mat-button class="header-btn" routerLink="/directors" routerLinkActive="active">{{ menu[2] }}</a>
<a mat-button class="header-btn" routerLink="/team" routerLinkActive="active">{{ menu[3] }}</a>
<a mat-button class="header-btn" routerLink="/worklog" routerLinkActive="active">{{ menu[4] }}</a>
<a mat-button class="header-btn" href="https://cultureportalstyleguide.netlify.com/" target="_blank">{{ menu[5] }}</a>
