<mat-card class="evaluation-card">
  <mat-card-title> {{dif}} </mat-card-title>
  <mat-card-content>
    Once Crawfish, Swan and Pike
    Set out to pull a loaded cart,
    And all together settled in the traces;
    They pulled with all their might, but still the cart refused to budge!
    The load it seemed was not too much for them:
    Yet Crawfish scrambled backwards,
    Swan strained up skywards, Pike pulled toward the sea.
    Who's guilty here and who is right is
    not for us to say-
    But anyway the cart's still there today.
  </mat-card-content>
  <mat-card-content>
    Однажды Лебедь, Рак да Щука
    Везти с поклажей воз взялись,
    И вместе трое все в него впряглись;
    Из кожи лезут вон, а возу все нет ходу!
    Поклажа бы для них казалась и легка:
    Да Лебедь рвется в облака,
    Рак пятится назад, а Щука тянет в воду.
    Кто виноват из них, кто прав,- судить
    не нам;
    Да только воз и ныне там.
  </mat-card-content>
</mat-card>
